img#bg {
  position:absolute;
  top:0;
  left:0;
  width:1350px;
  height:900px;
}

#content {
  position:relative;
  z-index:1;
}


.box-style {
font-size:15px;
font-style:"Times New Roman", Times, Seriff;
border-radius:0px;
-moz-border-radius:10px;
height:20px;
width:100px;
}



.l
{
color:#65a9d7;
font-weight:bold;
font-style:italic;
font-size:18px;
}

#signp
{
position:absolute;
left:100px;
}

#can
{
position:absolute;
left:200px;

}